/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

* {
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #6813FF;
    background-image: url(../img/bg.png);
    background-size: contain;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
}

.head {
    background-color: #1E3191;
    height: 50px;
    color: white;
    /* background: url(../img/exp/KomHead.png) no-repeat center; */
    text-align:right;
    /* display: inline; */
}

.logoSmall {
    background: url(../img/exp/logoSmall.png) no-repeat center;
    height: 60px;
}

.closeImg {
    background: url(../img/exp/KomAbbruch.png) no-repeat right;
    height: 75px;
}

.centering {
    text-align: center;
}

/* Portrait layout (default) */
.home {
    background:url(../img/exp/logo.png) no-repeat center top; /* 261px x 64px */
    position: absolute;             /* position in the center of the screen */
    top: 50%;
    left: 50%;
    height:50px;                   /* text area height */
    width:250px;                   /* text area width */
    /*text-align:center;*/
    color: white;
    padding:64px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    /* margin:-135px 0px 0px -125px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.start {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    /*text-align: center;*/
    color: white;

    /*
    margin: -175px 0px 0px -150px;
        */
}

.input {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    /*text-align: center;*/
    color: white;
}

.list {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    /*text-align: center;*/
    color: white;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .home {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.new {
    background-color:#00b1ff;
}

.text {
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0px;
}

.startText {
    font-style:italic;
}

.btn {
    background-color: #2B2B2B !important;
    width: 200px !important;
    height: 50px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bold !important;
    font-size: 20px !important;
    color: white !important;
    border-radius: 25px !important;
    border-color: #2B2B2B !important;
}

.gap {
    padding: 20px 0px;
}

#scrollList {
    background-color: #965AFF;
    z-index: 10;
    align-self: center;
    height: 60vh;
    width: 85vw;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: scroll;
}

.item {
    z-index: 15;
    background: white;
    color: black;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    text-align: right;
    position: relative;
    /*overflow: hidden;*/
}

.itemText {
    
    z-index: 20;
    display: inline;
    position: absolute;
    left: 4vw;
    /* padding-right: 75px; */
    text-align: left;
    /*right: 35px;*/
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1E3191 !important;
    border: none !important;
    width: 100vw;
    height: 7vh;
}

.logoHeader {
    height: 150%;
    top: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.cancelHeader {
    position: absolute;
    right: -15px;
    top: -15px;
    text-align: right;
    /*
    height: 15vh;
    width: 15vw;
    right: 5px;
    top: 5px;
    padding: 10px;
        */
}

.close {
    background: url(../img/exp/KomSchliessen.png) center no-repeat;
    right: 0px;
    top: 0px;
    padding: 10px;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}