* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make tconfig.xmlransparent link selection, adjust last value opacity 0 to 1.0 */
}

* {
    box-sizing: border-box;
    font-weight: 400 !important;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #6813FF;
    background-image: url(../img/bg.png);
    background-size: contain;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
}

.head {
    background-color: #1E3191;
    height: 50px;
    color: white;
    text-align:right;
}

.logoSmall {
    background: url(../img/exp/logoSmall.png) no-repeat center;
    height: 60px;
}

.closeImg {
    background: url(../img/exp/KomAbbruch.png) no-repeat right;
    height: 75px;
}

.centeringHome {
    text-align: center;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    min-height: 300px !important;
}

.centering {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.home {
    background:url(../img/exp/logo.png) no-repeat center top;
    position: absolute;
    top: 50%;
    left: 50%;
    height:50px;
    width:250px;
    color: white;
    padding:64px 0px 0px 0px;
}

.start {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    color: white;
}

.input {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    color: white;
}

.list {
    background-image: url(../img/bg2.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    color: white;
}

#selDate1, #selMoney1, #selDate2, #selMoney2 {
    display: inline;
    font-weight: 600 !important;
    font-size: 20px !important;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .home {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        margin: -90px 0px 0px -198px;
    }
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.new {
    background-color:#00b1ff;
}

.text {
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0px;
}

.startText {
    font-style:italic;
}

.btn {
    background-color: #2B2B2B !important;
    width: 200px !important;
    height: 50px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: white !important;
    border-radius: 25px !important;
    border-color: #2B2B2B !important;
}

.gap {
    padding: 20px 0px;
}

.gapSmall {
    padding: 10px 0px;
}

#scrollList {
    background-color: #965AFF;
    z-index: 10;
    align-self: center;
    height: 60vh;
    width: 85vw;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: scroll;
}

.item {
    z-index: 15;
    background: white;
    color: black;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    text-align: right;
    position: relative;
}

.itemText {
    
    z-index: 20;
    display: inline;
    position: absolute;
    left: 4vw;
    text-align: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1E3191 !important;
    border: none !important;
    width: 100vw;
    height: 7vh;
}

.logoHeader {
    height: 100%;
    top: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.cancelHeader {
    position: absolute;
    right: -15px;
    top: -15px;
    text-align: right;
}

.close {
    background: url(../img/exp/KomSchliessen.png) center no-repeat;
    right: 0px;
    top: 0px;
    padding: 10px;
}